$navbar-bg-color: #49274A;
$nav-hightlight-color: #4484CE;

.navbar-inverse {
  background-color: $navbar-bg-color;
  border: none;

}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-btn {
  margin-right: 8px;
  margin-left: 8px;
}


.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: white;
  background-color: $nav-hightlight-color;
}

#logoutMenu {
  text-align: center;
}

#logout-btn {
  width: 93%;
}