@import 'nav-bar';
@import 'search';
@import 'my-bars';

$body-bg-color: #49274A;
$container-bg-color: #94618E;
$list-group-item-bg-color: #94618E;

a {
  color: white;
}

.text-italic {
  font-style: italic;
}

body {
  background-color: $body-bg-color;
  color: white;
}

.container {
  background-color: $container-bg-color;
  border: none;
}

.list-group-item {
  background-color: $list-group-item-bg-color;
  border: none;
}

.twitter-color {
  background-color: #4099FF;
  color: white;
  border: none;
}

input {
  color: black;
}

.info-color {
  color: #33b5e5
}

#author-container {
  background-color: $body-bg-color;
  padding: 0;
}